.contacts-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.contact_btn {
  min-width: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 12px;
  text-decoration: none;
  background: #2c2c2c;
  color: white;
  border-radius: 8px;

  transition: 0.2s;
}

.contact_btn:hover {
  background: #444;
}

.contact_icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.contact_label {
  white-space: nowrap;
}

/* 
Extra row
 */
.contact-extra-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.contact-email {
  display: flex;
  align-items: center;
  gap: 6px;
  color: rgb(0, 0, 0);
}

.contact-email a {
  color: #000000;
  text-decoration: none;
}

.contact-email a:hover {
  text-decoration: underline;
}

.linktree-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 12px;
  border-radius: 6px;

  background: #054309; /* 👈 darker/subtler than buttons */
  color: white;
  text-decoration: none;

  transition: 0.2s;
}

.linktree-btn:hover {
  background: #057a47;
}
